* {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 4, 16);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container {
    height: 100vh;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1;
    
}

.two {
    grid-column: 2 / 3;
    grid-row: 1;
}

.two img {
    height: 100vh;
}

.one .textContainer {
    margin: 0 30px;
    color: white;
    
}

#brandLogo {
    color: white;
    display: flex;
    align-items: center;
}



nav h1 {
    padding: 10px;
    margin-bottom: 20px;
}

nav i {
    font-size: 25px;
}

hr {
    margin: 20px;
    height: 1px;
    background-color: gray;
    border: none;
}