@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
}

nav .brandName {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
}

.brandName .gray {
    color: gray;
}

#main  {
    height: 100vh;
    background-color: black;
    padding: 20px;

}
#main .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#main .one .text {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    margin-left: 20px;
}

#main .one #smallerText {
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

#main .one {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1;
}

#main .two {
    grid-column: 2 / 3;
    grid-row: 1;
}

#main .two img{ 
    height: 90vh;
}

#main .three {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1;
}

#main .three .text {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: white;
}

#main .three .text .gray {
    color: gray;
}

hr {
    height: 0.5px;
    background-color: gray;
    border: none;
    margin: 0 10px;
}

#one hr {
    margin-top: 10px;
}

/** Begining of container 2 **/

#aboutMe {
    height: 100vh;
}

#aboutMe .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#aboutMe .one {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1;

}

#aboutMe .one .images-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

#aboutMe .one .slider-img {
    height: 100%;
    width: 100%;
    object-fit: cover;    
}

#aboutMe .one .slider-img-container {
    flex: 0 0 100%;
}

#aboutMe .two {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1;
}

#aboutMe .two h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px ;
}

#aboutMe .two .info {
    padding: 40px;
    font-family: 'Quicksand', sans-serif;
}

#aboutMe .info .uanl {
    font-weight: 700;
}

.yellow{
    color: rgb(239, 217, 75);
}

.blue {
    color: rgba(23, 86, 222, 0.863);
}

/* Code of slider */

.slider {
    overflow: hidden;
}